body {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.wrapperButton {
  width: 100%;
}

#button {
  background-color: cadetblue;
  color: lavender;
  outline: none;
  width: 150px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.wrapperUser {
  width: 250px;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 10px;
}

.users, .posts, .comments {
  display: flex;
  justify-content: space-between;
  border: 1px solid beige;
  padding: 10px;
}

.wrapperPost {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 550px;
  margin-top: 25px;
  margin-right: 25px;
}

.wrapperComments {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 350px;
  margin-top: 25px;
}

#message, #messageError {
  position: absolute;
  top: 5px;
  left: 900px;
  justify-content: space-between;
  width: 200px;
  padding: 5px;
  border: 1px solid black;
  display: none;
  opacity: .5;
  font-family: serif;
}

#messageError {
  color: red;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border: 1px solid cadetblue;
  border-radius: 50%;
  background-color: cadetblue;
  font-size: 15px;
}
